extends layout

block content	

	header Chrysalis
	div.gold-line

	section.transaction-main
		div.side-bar
			a.side-bar-item(href='/dashboard') Back to Budget
			a.side-bar-item(href='/faq') Questions? Go to FAQ.

		div.create-bar 
			a(href='/upload') Upload Transactions
		table.transactions-table
			tr
				th Date
				th Payee
				th Category
				th Outflow
				th Inflow
			each transaction in transactions
				tr 
					td #{transaction.transdate}
					td #{transaction.description}
					td(input(type='text')
						contenteditable='true'
						onClick(giveTransactionid(#{transaction._id}))) #{transaction.category}
					td #{transaction.debit}
					td #{transaction.credit}

	script(src='javascripts/transactionProcessing.js')
			  




